.navbar a{
  color:white;
  height:75px;
  text-align:center;
  font-size: 30px;
}
.navbar a:hover{
  color:orange;
}
.heading{
  background-color:cyan;
}
.bg{
  background-image: url("src/assets/images/buyer2.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:relative;
  background-attachment: fixed;
  height:900px;
  overflow-y: hidden;
 }