
     <body>

        <div class="header" style="height:100px">
     
          <marquee>
            <h1 style="font-size:75px;">Buyer Landing Page</h1>
         </marquee>
     </div>
        <ul>
            <li><a [routerLink]="['/home']">Buy Product</a> </li>
            <li><a [routerLink]="['/home']">Purchase History </a></li>
            <li><a [routerLink]="['/home']">Search</a> </li>
            <li><a [routerLink]="['/home']">ViewCart</a> </li>
            <li><a [routerLink]="['/home']">ViewProfile</a> </li>
            <li style="float:right"><a class="active"  [routerLink]="['/home/login']" >Login</a></li>
          </ul>
    </body>
    <router-outlet></router-outlet>
