.navbar a{
  color:white;
  /* height:75px; */
  text-align:center;
  /* font-size: 30px; */
}
.navbar a:hover{
  color:orange;
}
.heading{
  background-color:beige;
}
.bg{
  background-image: url("src/assets/images/img5.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:relative;
  background-attachment: fixed;
  height:1500px;
  overflow-y: hidden;
 }
 #logout{
  cursor:pointer;
}