
.navbar a{
  color:white;
  /* height:75px; */
  text-align:center;
  font-size: 30px;
}
.navbar a:hover{
  color:orange;
}
.heading{
  background-color:cyan;
}
.bg{
  background-image: url("src/assets/images/home2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:relative;
  background-attachment: fixed;
  height:850px;
  overflow-y: hidden;
 }
 .dropdown-menu
 {
   background-color: black;
 }


/* carousel */
/* #carousel-example-generic {
  height: 480px;
  width: 848px;
} */

/* .carouselTitle {
  font-size: 64px;
  font-weight: 100;
  color: white;
  text-shadow: 0 1px 2px #000;
  position: absolute;
  bottom: 60px;
  left: 80px;
} */
  .header{
  background-color:cyan;
  }
  
  
  