 <table class="table table-bordered" style="background-color:white">
        <tr>
            <th>Item Id</th>
            <th>Price</th>
            <th>ItemName</th>
            <th>Description</th>
            <th>StockNumber</th>
            <th>Remarks</th>
            <th>Category Id</th>
            <th>SubCategory Id</th>
            <th>Edit</th>
            <th>Delete</th>
         </tr>
        <tr *ngFor="let item of list">
           <td>{{item.id}}</td>
           <td>{{item.price}}</td>
           <td>{{item.itemName}}</td>
           <td>{{item.description}}</td>
           <td>{{item.stockNumber}}</td>
           <td>{{item.remarks}}</td>
           <td>{{item.categoryId}}</td>
           <td>{{item.subcategoryId}}</td>
           <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
             Edit
            </button></td>
            <td><button class="btn btn-primary mr-1" (click)="Delete(item.id)" type="button">Delete</button></td>
        </tr>
 </table>
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document" id="exampleModal">
             <div class="modal-content" style="width:120%;">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Edit items</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body" id="exampleModal">
                <!-- <form *ngFor="let item of list"> -->
                  <div class="form-group">
                    <label for="id" class="col-form-label">ID</label>
                    <input type="text" class="form-control" id="id" value="{{item.id}}"/>
                  </div>
                   <div class="form-group">
                     <label for="Itemname" class="col-form-label">ItemName</label>
                     <input type="text" class="form-control" id="Itemname" value="{{item.itemName}}"/>
                   </div>
                   <div class="form-group">
                     <label for="price" class="col-form-label">Price</label>
                     <input type="text" class="form-control" id="price" value="{{item.price}}"/>
                   </div>
                   <div class="form-group">
                     <label for="stockNumber" class="col-form-label">Stock Number</label>
                     <input type="number" class="form-control" id="stockNumber" value="{{item.stockNumber}}"/>
                   </div>
                   <div class="form-group">
                     <label for="Description" class="col-form-label">Description</label>
                     <textarea class="form-control" id="message-text" value="{{item.description}}"></textarea>
                   </div>
                 <!-- </form> -->
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary" (click)="Update(id)">Save Changes</button>
               </div>
             </div>
           </div>
    
