.navbar a{
  color:white;
  /* height:75px; */
  text-align:center;
  font-size: 30px;
}
.navbar a:hover{
  color:orange;
}
.heading{
  background-color:beige;
}
.bg{
  background-image: url("src/assets/images/buyer.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:relative;
  background-attachment: fixed;
  height:auto;
  overflow-y: hidden;
 }