 <div class="container card col-md-4" >  
      <div class="card-body" >
          <h5 class="card-header text-center" style="color: whitesmoke;">Payment Gateway</h5>
              <form [formGroup]="buyproductform">    
                <div class="form-group">
                  <label style="color:white">Item Name</label>
                  <input type="text" formControlName="itemName" class="form-control" readonly/>
                </div>
                <div class="form-group">
                  <label style="color:white">Number Of Items</label>
                  <input type="text" formControlName="noofitems" class="form-control" autofocus/>
                </div>
                <div class="form-group">
                  <label style="color:white">Date</label>
                  <input type="date" formControlName="datetime" class="form-control"/>
                </div>
              <div class="form-group">
                  <label style="color:white">Choose PayMent Mode</label>
                  <select formControlName="transactiontype">
                      <option value="credit">Credit Card</option>
                      <option value="debit">Debit Card</option>
                      <option value="cod">Cash On Delivery</option>
                  </select>
                </div>
                <div class="form-group">
                  <label style="color:white">Card Number</label>
                  <input type="text" formControlName="cardnumber" class="form-control"/>
                </div>
                <div class="form-group">
                  <label style="color:white">CVV</label>
                  <input type="number" formControlName="CVV" class="form-control" style="width: 30%;"/>
                </div>
                <div class="form-group">
                  <label style="color:white">ExpiryDate</label>
                  <input type="date" formControlName="ed" class="form-control"/>
                </div>
                <div class="form-group">
                  <label style="color:white">Card Holders Name</label>
                  <input type="text" formControlName="buyername" class="form-control"/>
                </div>
                <div class="form-group">
                  <label style="color:white">Remarks</label>
                  <textarea type="text" formControlName="remarks" class="form-control"></textarea>
                </div>
              <hr class="my-4 bg-success"/>
              <div class="form-group">
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary mr-1" (click)=" purchase()">Purchase</button>
                  </div>
              </div>
               </form>
       </div>
 </div>
  
