<div class="bg">
<div class="container">
    <div class="row" >
      <div class="col-md-3" *ngFor="let item of list">
      <div class="card" style="width:250px">
        <img src='/assets/images/{{item.imagepath}}' style="height:200px; width:200px;">
        <div class="card-body">
          <h4 class="card-title">{{item.itemName}}</h4>
          <h5 class="card-text">ID:{{item.id}}
             Price:{{item.price}} </h5>
            
          <button  type="button" (click)="buy()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Buy</button>
          <button  type="button" (click)="Delete(item.id)" class="btn btn-danger">Del</button>
          
        </div>
      </div>
    </div>
      </div>
     </div>
 </div>
     <!-- <div class="container">
        <div class="row">
             
        <div class="col-md-4" *ngFor="let i of list">
            <div class="card " style="width:350px;">
               <img class="card-img-top" src="/assets/images/{{item.image}}" alt="Card image cap"> 
              <div class="card-body"  > 
                <h5 class="card-title text-center">Item</h5>
                <tr *ngFor="let item of list">
                   <td>
                  Price: {{item.price}}<br>
                   Name: {{item.itemName}}<br>
                   Stock : {{item.stockNumber}}<br>
                   <button id="bt1" (click)="buy()" >Buy</button><br><br>
                   <button id="bt2">Add To Cart</button></td>
                 </tr>
              </div>
              
              <div class="text-center">
                <button class="btn btn-primary mr-1">Add</button>
                <button class="btn btn-primary" (click)="BuyNow(i)">Buy</button>
            </div>
            </div>
            <br>
           </div>
            </div>
          </div>
</div> -->