input[type=text]{
    width: 80%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
  }
  .button1 {background-color: blue;
    text-decoration-color: white;}
    .register{
        border-radius: 5px;
        background-color:gray;
        padding: 10px;
        width: 30%;
        box-align:center;
        margin: 300px;
        float: center;
        margin-top: 50px ;
    }
    h3{
      color:white;
    }
    /* .register{
    background-image: url('src/assets/images/additems.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    } */
    label{
    color:white;
    right: 20px;
    }
    .form{
        text-align:center;
    }