<div class=register align="center">
    <h3 align="center">ADD ITEMS</h3>
    <div class="container card col-md-4" > 
    <div class="card-body" >
        <form [formGroup]="additemform" (ngSubmit)="onSubmit()" align="center">
            <!-- <table>
               <tr> -->
                <label style="color: whitesmoke; font-size:25px;">Choose Category</label>
                <!-- <input type="text" formControlName="categoryId" class="form-control" /> -->
                <select formControlName="categoryid" class="form-control" (change)="GetSubCategory()">
                     <option *ngFor="let item of clist" value="{{item.categoryId}}">{{item.categoryName}}</option>   
                </select>
               
               <br>
              
               <label style="color: whitesmoke;font-size:25px;">Choose SubCategory</label>
                <!-- <input type="text" formControlName="subcategoryId" class="form-control" /> -->
                
                  <select formControlName="subcategoryid" class="form-control">
                    <option *ngFor="let item of sclist" value="{{item.subcategoryId}}">{{item.subcategoryName}}</option>   
               </select>
              
              
               
                    <label style="font-size:25px">Price</label>
                    <input type="Number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required"></div>
                    </div>
                
                  <label style="font-size:25px">Item Name</label>
                <input type="text" formControlName="itemname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }" />
                <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
                    <div *ngIf="f.itemname.errors.required"></div>
                </div>
           
                <label style="font-size:25px">Descrption</label>
                <textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required"></div>
                </div>
           
           
                <label style="font-size:25px">Stock Number</label>
                <input type="Number" formControlName="stocknumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stocknumber.errors }" />
                <div *ngIf="submitted && f.stocknumber.errors" class="invalid-feedback">
                    <div *ngIf="f.stocknumber.errors.required"></div>
                </div>
           
                <label style="font-size:25px">Remarks</label>
                <textarea type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" ></textarea>
                <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                    <div *ngIf="f.remarks.errors.required"></div>
                </div>
          
                <label style="font-size:25px">Image</label><br>
                <input type="file" formControlName="imagepath" (change)="fileEvent($event)">
                <br><br>
                <div *ngFor="let items of item">
                    <div>
                        <img src='assets/images/{{items.image}}' style="height: 150px; width:150px;"><br>
                        Name:{{items.itemName}}
                    </div>
                </div> 
           
            
            
                <div class="text-center">
                <button class="btn btn-primary mr-1" type="submit" (click)='onSubmit()'>Add</button><br><br>
                <button class="btn btn-primary mr-1" type="reset" (click)='onReset()'>Reset</button>
            </div>
        
        </form>
    </div>
    </div>
</div>
<router-outlet></router-outlet>
