<div class="register" align="center">
    <h3 align="center">EDIT ITEMS</h3>
        <form [formGroup]="edititemform" (ngSubmit)="onSubmit()" align="center">
            <table>
                <tr>
                    <td><label>Item ID</label></td>
                    <td><input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
                    <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                        <div *ngIf="f.id.errors.required"></div>
                    </div></td>
                </tr>
                <tr>
                    <td><label>Price</label></td>
                    <td><input type="Number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required"></div>
                    </div></td>
                </tr>
                    <tr><td><label>Item Name</label></td>
                <td><input type="text" formControlName="itemname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }" />
                <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
                    <div *ngIf="f.itemname.errors.required"></div>
                </div></td>
            </tr>
            <tr>
                <td><label>Descrption</label></td>
                <td><textarea type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required"></div>
                </div></td>
            </tr>
            <tr>
                <td><label>Stock Number</label></td>
                <td><input type="Number" formControlName="stocknumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stocknumber.errors }" />
                <div *ngIf="submitted && f.stocknumber.errors" class="invalid-feedback">
                    <div *ngIf="f.stocknumber.errors.required"></div>
                </div></td>
            </tr>
            <tr>
                <td><label>Remarks</label></td>
                <td><textarea type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" ></textarea>
                <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                    <div *ngIf="f.remarks.errors.required"></div>
                </div></td>
            </tr>
            <tr>
                <td><label>Category ID</label></td>
                <td><input type="Number" formControlName="categoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryid.errors }" />
                <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
                    <div *ngIf="f.categoryid.errors.required"></div>
                    <div *ngIf="f.categoryid.errors.pattern"></div>
                </div></td>
            </tr>
            <tr>
                <td><label>SubCategory ID</label></td>
                <td><input type="Number" formControlName="subcategoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryid.errors }" />
                <div *ngIf="submitted && f.subcategoryid.errors" class="invalid-feedback">
                    <div *ngIf="f.subcategoryid.errors.required"></div>
                    <div *ngIf="f.subcategoryid.errors.pattern"></div>
                </div></td>
            </tr>
            <tr>
                <td><label>Seller ID</label></td>
                <td><input type="Number" formControlName="sellerid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerid.errors }" />
                <div *ngIf="submitted && f.sellerid.errors" class="invalid-feedback">
                    <div *ngIf="f.sellerid.errors.required"></div>
                </div></td>
            </tr>
                <div class="text-center">
                <button class="btn btn-primary mr-1" type="submit" (click)='onSubmit()'>Update</button>
                <button class="btn btn-primary mr-1" type="reset" (click)='onReset()'>Reset</button>
            </div>
        </table>
        </form>
</div>
<router-outlet></router-outlet>

