<table class="table table-bordered"  style=" background-color: rgba(0,0,0,0.5);color:white;">
    <tr>
        <th>Transaction Id</th>
        <th>Buyer Id</th>
        <th>Seller Id</th>
        <th>Item Id</th>
        
        <th>Transaction type</th>
        <th>No Of Items</th>
        
     </tr>
    <tr *ngFor="let item of list">
        <td>{{item.transactionid}}</td>
        <td>{{item.buyerId}}</td>
        <td>{{item.sellerId}}</td>
        <td>{{item.itemId}}</td>
       <td>{{item.transactionType}}</td>
       <td>{{item.noOfItems}}</td>
    </tr>
      
       
</table>

