.bg{
    background-image: url("src/assets/images/seller.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:relative;
    background-attachment: fixed;
    height:800px;
    overflow-y: hidden;
   }
   #cen
{
  float:center;
}
.card
{
    background-color: rgba(0,0,0,0.5);
    width:450px;
}
label{
  color:white;
}