.container
{
    background-color: cyan;
}
#cen
{
  float:center;
}
/* .form-group{
    width:70%;
   padding-left: 300px;
  
  }
  .text-center{
    
    width:60%;
    padding-left: 400px;
    text-align:left;
  } */
  
