.container
{
    background-image: 'assets/images/bgimage.jpg';
}
/* .form-group{
    width:70%;
   padding-left: 300px;
  
  }
  .text-center{
    
    width:60%;
    padding-left: 400px;
    text-align:left;
  } */