/* .container
{
    background-color: grey;
} */
.card
{
    background-color: rgba(0,0,0,0.5);
    width:450px;
}
label{
  color:white;
}
#cen
{
  float:center;
}
.bg{
  background-image: url("src/assets/images/img4.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:relative;
  background-attachment: fixed;
  height:850px;
  overflow-y: hidden;
 }
 

/* .form-group{
    width:70%;
   padding-left: 300px;
  
  }
  .text-center{
    
    width:60%;
    padding-left: 400px;
    text-align:left;
  } */
  
